# Dependencies
node_modules/
elms/node_modules/
portal-b/node_modules/
idp/node_modules/

# Local databases and locks
elms/server/elms.db
elms/server/elms.db-journal
idp/jwks.json

# Logs
idp/logs/
*.log

# SSL Certificates
certs/

# Environment configs
.env
elms/.env
portal-b/.env
idp/.env
